/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', Arial, sans-serif;
}

.font-cormorant {
  font-family: 'Cormorant Garamond', 'Times New Roman', serif;
}

.link-style {
  @apply text-sm cursor-pointer transition-all duration-300 ease-in-out hover:text-darkBeige hover:border-b-2 hover:border-darkBeige;
}

.link-focus {
  @apply focus:border-b-[1px] focus:border-darkBeige;
}
.link-active {
  @apply text-darkBeige border-b-[1px] border-darkBeige;
}
html {
  scroll-behavior: smooth;
}
